{% extends 'temp/base.html' %}
{% load static from staticfiles %}

{% block base %}
<div id="login">
    <a href="{% url 'myblog:home' %}"><p>&lt;返回首页</p></a>
    <form class="form-horizontal" action="/login/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon">账号</span>
            <input id="accunt" required="required" type="text" class="form-control" aria-describedby="basic-addon1" name="userAccount">
            <br />
        </div>
        <div class="input-group">
            <span class="input-group-addon">密码</span>
            <input id="pass" required="required" type="password" class="form-control" aria-describedby="basic-addon1" name="userPass">
            <br />
        </div>
        <div class="input-group">
            <span class="input-group-addon"><input type="submit" class="form-control" aria-describedby="basic-addon1" value="登录"></span>
        </div>
    </form>
</div>
{% endblock base %}
